/*通用部分*/
.l{ float:left}
.r{ float:right}
.c{ clear:both;}
*{font-family:Tahoma, Arial, Candara, "Microsoft YaHei", sans-serif;line-height:160% ; margin:0; padding:0;}
.pic{  position: absolute; overflow:hidden; }
.pic img{ width:2000px; height:2250px;}
.page1, .page2, .page3, .page4, .page5{ background-image:url(img/bg.png); background-repeat:repeat; overflow:hidden;}

.global_meteor_ltr{width: 76px; height:45px; z-index:50; }
.global_meteor_ltr img{margin-left:-281px; margin-top:-457px;}

.global_meteor_rtl{width: 76px; height:45px; z-index:50; }
.global_meteor_rtl img{margin-left:-281px; margin-top:-502px;}

.global_next_button{width: 45px; height:35px; left:50%; bottom:0%; margin-left:-22px;margin-bottom:20px;  z-index:9999; opacity:0.6;}
.global_next_button img{margin-left:-281px; margin-top:-547px;}

.global_circle_button{width: 90px; height:90px; left:50%; bottom:0%; margin-left:-45px; border-radius:45px; margin-bottom:20px;  z-index:9999; background-color:rgba(255,255,255,0.4);}
.global_circle_button div{width: 70px; height:70px; border-radius:35px; background-color:#888888;   display:block; margin:10px; background-color:rgba(255,255,255,0.6);}





.global_plant_dot{ width: 6px; height:6px; z-index:50; background-color:#777777; border-radius:3px; box-shadow:0px 0px 3px #888888;}

 

/*page1*/
.p1_earth{ width: 274px; height:282px; left:50%; top:50%; margin-left:-137px; margin-top:-190px; z-index:99;}
.p1_earth img{margin-left:-0px; margin-top:-0px;}

.p1_plant_orange{ width: 143px; height:151px; left:0%; bottom:0%; margin-left:-30px; margin-bottom:-50px; z-index:99;}
.p1_plant_orange img{margin-left:-274px; margin-top:0px;}

.p1_plant_gray{ width: 110px; height:110px; left:0%; top:50%; margin-left:-90px; margin-top:-55px; z-index:99;}
.p1_plant_gray img{margin-left:-274px; margin-top:-151px;}

.p1_plant_ligth_gray{ width: 30px; height:30px; right:0%; top:0%; margin-right:10px; margin-top:110px; z-index:99;}
.p1_plant_ligth_gray img{margin-left:-579px; margin-top:-170px;}


.p1_dot1{left:0%; top:0%; margin-left:20px; margin-top:30px;} 
.p1_dot2{right:0%; top:0%; margin-right:30px; margin-top:20px;} 
.p1_dot3{right:0%; top:50%; margin-right:45px; margin-top:-130px;} 
.p1_dot4{right:0%; top:50%; margin-right:5px; margin-top:-0px;}

.p1_m1{left:0%; top:0%; margin-left: 0px; margin-top: 0px;}

 

.p1_satellite{ width: 254px; height:239px; right:0%; bottom:0%; margin-right:-100px; margin-bottom:20px; z-index:100;}
.p1_satellite img{margin-left:-666px; margin-top:0px;}/*-666 -920  -1174 -1428*/

/*.p1_satellite1 img{margin-left:-666px; margin-top:0px;}
.p1_satellite2 img{margin-left:-920px; margin-top:0px;}
.p1_satellite3 img{margin-left:-1174px; margin-top:0px;}
.p1_satellite4 img{margin-left:-1428px; margin-top:0px;}
*/
.hide {
  display: none;
}
@-webkit-keyframes gif {
   
}

@keyframes gif {
 
  0% {
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
  }

  50% {
    -webkit-transform: translate3d(-50px,10px,0);
    transform: translate3d(-50px,10px,0),rotate(30deg);
  }

  100% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,0px,0);
  }



}

.gif {
  -webkit-animation-name: gif;
  animation-name: gif;
}











/*page2*/
.p2_girl_body{ width: 163px; height:174px; left:0%; bottom:0%; margin-left:60px; margin-bottom:140px; z-index:98;}
.p2_girl_body img{margin-left:-0px; margin-top:-282px;}

.p2_girl_eye{ width: 12px; height:12px; left:0%; bottom:0%; margin-left:130px; margin-bottom:260px; z-index:99;}
.p2_girl_eye img{margin-left:-281px; margin-top:-603px;}

.p2_girl_hand{ width: 65px; height:34px; left:0%; bottom:0%; margin-left:158px; margin-bottom:190px; z-index:99;}
.p2_girl_hand img{margin-left:-281px; margin-top:-615px;}

.p2_dot1{right:0%; bottom:50%; margin-right:20px; margin-bottom:-80px;} 
.p2_dot2{right:0%; bottom:50%; margin-right:200px; margin-bottom:80px;} 
.p2_dot3{right:0%; bottom:50%; margin-right:20px; margin-bottom:100px;} 



.p2_plant_bg{ width: 521px; height:422px; left:0%; bottom:0%; margin-left:-0px; margin-bottom:-0px; z-index:60;}
.p2_plant_bg img{margin-left:-280px; margin-top:-827px;}

.p2_wave{ width: 263px; height:294px; left:0%; bottom:0%; margin-left:144px; margin-bottom:250px; z-index:200;}
.p2_wave img{margin-left:-1173px; margin-top:-239px;}/*-384 -647  -910 -1173*/


.p2_talk{ width: 156px; height:128px; left:0%; bottom:0%; margin-left:165px; margin-bottom:200px; z-index:100;}
.p2_talk img{margin-left:-163px; margin-top:-282px;}

.p2_m1{right:0%; top:0%; margin-right: 0px; margin-top: 0px;}




/*page3*/


.p3_plant_bg{ width: 260px; height:390px; right:0%; bottom:0%; margin-right:-0px; margin-bottom:-0px; z-index:60;}
.p3_plant_bg img{margin-left:-1699px; margin-top:0px;}

.p3_wave{ width: 263px; height:294px; left:0%; bottom:0%; margin-left:-15px; margin-bottom: 223px; z-index:200;}
.p3_wave img{margin-left:-1173px; margin-top:-533px;}/*-384 -647  -910 -1173*/

.p3_rocket{ width: 81px; height:64px; left:50%; bottom:0%; margin-left:0px; margin-bottom: 0px; z-index:990;}
.p3_rocket img{margin-left:-498px; margin-top:-170px;}/*-417 -498 */

.p3_m1{right:0%; top:0%; margin-right: 0px; margin-top: 0px;}




/*page4*/

.p4_loading_bar{ background-color: #009944; border-radius:4px 0 0 4px; padding: 6px; display: inline-block; 
				 right:0%; top:0%; margin-right: 0px; margin-top: 150px; z-index: 999 }
.p4_loading_bar ul{ list-style: none; height: 20px; margin: 0; padding: 0; }
.p4_loading_bar li{ display: inline-block; width: 10px; height: 20px }
.p4_loading_bar ul .active{ background-color: #55d78f; border-radius: 2px; }

.p4_m1{left:0%; top:0%; margin-left: 0px; margin-top: 0px;}

.p4_m2{left:0%; top:0%; margin-left: 50px; margin-top: 90px;}

.p4_arrow{ width: 15px; height:24px; right:50%; bottom:0%; margin-right:-8px; margin-bottom:150px; z-index:202;}
.p4_arrow img{margin-left:-281px; margin-top:-649px;}


.p4_ufo{ width: 140px; height:132px; right:0%; bottom:0%; margin-right:220px; margin-bottom:130px; z-index:201;}
.p4_ufo img{margin-left:-0px; margin-top:-646px;}

.p4_dt{ width: 214px; height:200px; right:50%; bottom:0%; margin-right:-65px; margin-bottom:0px; z-index:200;}
.p4_dt img{margin-left:-0px; margin-top:-778px;}

.p4_plant_blue_small{ width: 65px; height:43px; left:50%; bottom:50%; margin-left:-33px; margin-bottom:40px; z-index:99;}
.p4_plant_blue_small img{margin-left:-140px; margin-top:-646px;}




/*page5*/

.p5_eye{ width: 38px; height:8px; left:50%;top:0%; margin-left:27px; margin-top:148px; z-index:99;}
.p5_eye img{margin-left:-281px; margin-top:-442px;}

.p5_couple{ width: 270px; height:190px; left:50%;top:0%; margin-left:-135px; margin-top:100px; z-index:80;}
.p5_couple img{margin-left:-0px; margin-top:-456px;}

.p5_heart{ width: 25px; height:21px; left:50%;top:0%; margin-left:0px; margin-top:0px; z-index:200;}
.p5_heart img{margin-left:-281px; margin-top:-582px;}



.p5_plant_blue{ width: 249px; height:160px; left:50%; bottom:50%; margin-left:-124px; margin-bottom:-80px; z-index:99;}
.p5_plant_blue img{margin-left:-417px; margin-top:0px;}



.p5_text{ width: 250px; height: 140px; background-color:rgba(255,255,255,0.3) ;color:#ffffff; border-radius: 4px;
			bottom: 100px; left: 50%; margin-left: -135px; }
.p5_text > div{padding:10px;border-radius: 4px; text-align: center;}			
.p5_green_tl, .p5_green_tr{ width: 20px;height: 20px; }
.p5_green_tl{ border-left: 2px solid rgba(103,205,153,0.6); border-top: 2px solid rgba(103,205,153,0.6); }
.p5_green_tr{ border-right: 2px solid rgba(103,205,153,0.6); border-top: 2px solid rgba(103,205,153,0.6);}

.p5_share{ background-color: transparent; border:1px rgba(255,255,255,0.3) solid ;  color: #ffffff; font-size: 16px; 
			width: 180px; height:44px ; line-height:44px; text-align: center;  border-radius: 20px;
			bottom: 20px; left: 50%; margin-left:-90px;}